/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  text-align: center;
  padding: 50px;
  font-family: Georgia, serif;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}

h1 {
  font-size: 2em;

  em {
    font-weight: bold;
  }
}

p {
  margin: 0 0 1em 0;
}

$board_cell_size     : 100px;
$board_cell_margin   : 5px;
$board_border_radius : 5px;

#board {
  border-radius: $board_border_radius;
  background: #eee;
  width: 321px;
  height: 321px;
  padding: $board_cell_margin 0 0 $board_cell_margin;
  margin: 1em auto;
  border: 1px solid #999;
}

#board li {
  border-radius: $board_border_radius;
  border: 1px solid #999;
  background: #fff;
  font-size: 48px;
  color: #333;
  width: $board_cell_size;
  height: $board_cell_size;
  line-height: $board_cell_size;
  display: block;
  float: left;
  margin: 0 $board_cell_margin $board_cell_margin 0;
  padding: 0;
}

#board li:hover {
  cursor: pointer;
  background-color: salmon;
  border: 1px solid #666;
}
