/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  text-align: center;
  padding: 50px;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: Century Gothic, sans-serif;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}

h1 {
  font-size: 2em;
}

$board_cell_size   : 100px;
$board_cell_margin : 5px;

#board {
  background: #eee;
  width: 315px;
  height: 315px;
  padding: $board_cell_margin 0 0 $board_cell_margin;
  margin: 10px auto;
}

#board li {
  background: #fff;
  font-family: Georgia, serif;
  font-size: 48px;
  color: #333;
  width: $board_cell_size;
  height: $board_cell_size;
  line-height: $board_cell_size;
  display: block;
  float: left;
  margin: 0 $board_cell_margin $board_cell_margin 0;
  padding: 0;
}

#board li:hover {
  cursor: pointer;
  background-color: #eee;
}
