/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";

$green        : #79B34E;
$grey         : #999;
$light_grey   : #efefef;
$medium_grey  : #666;

body {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 50px;
  font-family: Georgia, serif;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}

h1 {
  font-size: 2em;

  em {
    font-weight: bold;
  }
}

p {
  margin: 0 0 1em 0;
}

a {
  color: $medium_grey;
}

$board_cell_size     : 80px;
$board_cell_margin   : 1px;
$board_border        : $board_cell_margin solid #000;
$board_size          : (($board_cell_size + $board_cell_margin) * 3) - 1;

$player_width : $board_size * 0.8;

section.player {
  @include transition(color 1s);
  width: $player_width;
  height: $board_size;
  line-height: $board_size;
  margin: 2em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: $light_grey;
  margin: 1em 0;

  * {
    vertical-align: middle;
  }

  &.active {
    @include transition(color 1s);
    color: #000;
  }

  label {
    font-size: $player_width;
  }

  input {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -131px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 3px;
  }
}


#board {
  display: inline-block;
  vertical-align: middle;
  width: $board_size;
  height: $board_size;
  margin: 2em;
}

#board li {
  border-right: $board_border;
  border-bottom: $board_border;
  font-size: 48px;
  color: #333;
  width: $board_cell_size;
  height: $board_cell_size;
  line-height: $board_cell_size;
  display: block;
  float: left;

  &.nb { border-bottom: none }
  &.nr { border-right:  none }
}

#board li:hover {
  cursor: pointer;
  background-color: $light_grey;
}

#board li.marked:hover {
  cursor: default;
  background: none;
}

#board li.winner {
  background: $green;
  color: #fff;
}

#board li.winner:hover {
  background: #79B34E;
}

#notice {
  width: $board_size;
  margin: 1em auto;
  font-size: 36px;
  text-transform: uppercase;
}

#settings {
  width: $board_size;
  margin: 1em auto;
  text-align: center;
}

