/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 50px;
  font-family: Georgia, serif;
}

/* line 22, ../sass/screen.scss */
h1, h2, h3 {
  font-family: Georgia, serif;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}

/* line 28, ../sass/screen.scss */
h1 {
  font-size: 2em;
}
/* line 31, ../sass/screen.scss */
h1 em {
  font-weight: bold;
}

/* line 36, ../sass/screen.scss */
p {
  margin: 0 0 1em 0;
}

/* line 40, ../sass/screen.scss */
a {
  color: #666666;
}

/* line 51, ../sass/screen.scss */
section.player {
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  width: 193.6px;
  height: 242px;
  line-height: 242px;
  margin: 2em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #efefef;
  margin: 1em 0;
}
/* line 63, ../sass/screen.scss */
section.player * {
  vertical-align: middle;
}
/* line 67, ../sass/screen.scss */
section.player.active {
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  color: #000;
}
/* line 72, ../sass/screen.scss */
section.player label {
  font-size: 193.6px;
}
/* line 76, ../sass/screen.scss */
section.player input {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -131px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 3px;
}

/* line 90, ../sass/screen.scss */
#board {
  display: inline-block;
  vertical-align: middle;
  width: 242px;
  height: 242px;
  margin: 2em;
}

/* line 98, ../sass/screen.scss */
#board li {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 48px;
  color: #333;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: block;
  float: left;
}
/* line 109, ../sass/screen.scss */
#board li.nb {
  border-bottom: none;
}
/* line 110, ../sass/screen.scss */
#board li.nr {
  border-right: none;
}

/* line 113, ../sass/screen.scss */
#board li:hover {
  cursor: pointer;
  background-color: #efefef;
}

/* line 118, ../sass/screen.scss */
#board li.marked:hover {
  cursor: default;
  background: none;
}

/* line 123, ../sass/screen.scss */
#board li.winner {
  background: #79b34e;
  color: #fff;
}

/* line 128, ../sass/screen.scss */
#board li.winner:hover {
  background: #79B34E;
}

/* line 132, ../sass/screen.scss */
#notice {
  width: 242px;
  margin: 1em auto;
  font-size: 36px;
  text-transform: uppercase;
}

/* line 139, ../sass/screen.scss */
#settings {
  width: 242px;
  margin: 1em auto;
  text-align: center;
}
